# Xcode
*.xcuserstate
*.xcuserdata/
*.xcuserdatad/
*.xcuserdatad

# Build
DerivedData/
build/

# SwiftPM
.build/
Packages/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Logs
*.log
.DS_Store

# Secrets
*.p12
*.pem
